.video-header{
    visibility: hidden;
    display: none;
}
.section2{
    visibility: hidden;
    display: none;
}
.section3{
    visibility: hidden;
    display: none;
}
.navbar{
    visibility: hidden;
    display: none;
}
body{
    background: #4ED37B;
}
#mobilediv{
    /* background: blue; */
    position: relative;
    top: 50vh;
    left: 50vw;
    height: 70vh;
    width: 70vw;
    transform: translate(-50%, -50%);
    background: blue;
}

.mobile_h{
    text-align: center;
    font-family: "HelveticaNeue-Light";
    /* background: red; */
    position: relative;
    top: 10%;
    left: 50%;
    /* height: 10vh;
    width: 50vw; */
    transform: translate(-50%, -50%);
    background: red;
}

.mobile_h h1{
    font-size: 3vh;
    font-weight: 100;
    background: gray;
}

.mobile_h h2{
    padding: 4vh;
    font-size: 2vh;
    font-weight: 100;
    background: gray;
}

#mobilediv img{
    position: relative;
    transform: translate(-50%, -50%);
    /* height: 20vh; */
    left: 50%;
    top: 5vh;
}

a{
    display: block;
    background: gray;
}

.downloadnow h1{
    text-align: center;
    font-size: 4vh;
    background: gray;
}

.img1{
    margin: 3% 100% 3% 0%;
}

.img2{
    margin: 3% 0 3% 0;
}