/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Invisible div */

#mobilediv{
	visibility: hidden;
	display: none;
}

/* HEADER AND VIDEO */

*{box-sizing: border-box;}
body{ margin: 0;
 	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

.video-header{height: 100vh;
         display: flex;
	     align-items: center;
	     color: #fff;
	
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
	
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;
	
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.65);
	opacity: 0.80;
	
}

.header-content{
	z-index: 2;
	margin-top:20%;
	padding: 0 5rem;
	
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
	
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 10px;
}

.my-btn{
	padding: 1rem 1rem;
}

@media(max-width:768px){
	.header-content h1{font-size: 40px;}
	.header-content p{font-size: 1rem;}
}

section{text-align: center; margin: -66px; font-size: 1.5rem;}

.navbar{z-index: 10;}
.my-nav .nav-link{color: aliceblue;}
.my-nav .navbar-brand{color: aliceblue;}
.navbar-toggler-icon{color: aliceblue;}

nav div ul li{
    padding: 0px 0px 0px 15px
}
nav div ul{
    font-size: 125%;
    margin: 0px 0px 0px 60%;
}

.navbar{
	/* background: #f6755e; */
}

#navbarNav{
	/* background: #25a2c3; */
}

.navbar-nav{
	/* background: #FFCB05; */
	position: absolute;
	height: 50px;
	width: 515px;
	right: 2px;
}

/* HEADER AND VIDEO END */

/* OLD OLD OLD OLD OLD */

  /* Footer */

	#footer {
		padding: 300px 0 0 0;
		margin: 500px 0 0 0;
		background-color: #25a2c3; 
		text-align: center;
		color: #c8e7f0;
	}

		#footer h2 {
			color: #fff;
		}

		#footer .icon {
			color: #f6755e;
		}

		#footer a {
			color: #c8e7f0;
			text-decoration: none;
		}

		#footer ul li {
			padding: 0 2em;
		}

		#footer .copyright {
			display: inline-block;
			color: #a7d9e7;
			font-size: 0.75em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
			border-top: 1px solid rgba(255, 255, 255, 0.25);
			padding: 2em 10em;
		}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 3em 0 1em 0;
			}

				#footer ul li {
					display: block;
					padding: .25em 0;
				}

		}

		@media screen and (max-width: 736px) {

			#footer .copyright {
				padding: 2em 5em;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 2em 0 0.1em 0;
			}

				#footer ul li {
					font-size: .9em;
				}

					#footer ul li .icon:before {
						margin-left: -1em;
					}

				#footer .copyright {
					padding: 2em 0;
				}

		}


/* OLD OLD OLD OLD OLD */

.section2{
	z-index: 100;
	background: #25a2c3;
	position: absolute;
	width: 100%;
	height: 70%;
	top: 100%;
}

.section2 h3{
	color: #4ED37B;
}

.section2 h3:hover{
	color: rgb(0, 160, 53);
}


.section2 p{
	color: rgb(85, 85, 85);
}

.section2left{
	z-index: 101;
	position: relative;
	width: calc(50vw - 25vh);
}

.section2middle{
	background: url(pictures/phone.png);
	background-size: 100%;
	background-position: center;
	transform: translate(-50%, -100%);
	z-index: 101;
	position: relative;
	height: 50vh;
	width: 50vh;
	left: 50vw; 
	bottom: 10vh;
	border-radius: 50%;
}

.section2right{
	z-index: 101;
	position: relative;
	width: calc(50vw - 25vh);
	bottom: 200%;
	left: calc(50vw + 25vh);
}

.s2top{
	height: 50%;
}

.s2top h3{
	text-align: right;
	position: relative;
	top: 23%;
	right: 10%;
	font-size: 130%;
	font-weight: bolder;
}

.s2top p{
	text-align: right;
	position: relative;
	top: 33%;
	right: 10%;
	font-size: 90%;
}

.s2bottom{
	height: 50%;
}

.s2bottom h3{
	text-align: right;
	position: relative;
	top: 23%;
	right: 10%;
	font-size: 130%;
	font-weight: bolder;
}

.s2bottom p{
	text-align: right;
	position: relative;
	top: 33%;
	right: 10%;
	font-size: 90%;
}

.s2top2{
	height: 50%;
	position: relative;
	top: 28.5%;
}

.s2top2 h3{
	position: relative;
	top: 23%;
	left: 10%;
	font-size: 130%;
	font-weight: bolder;
}

.s2top2 p{
	position: relative;
	top: 33%;
	left: 10%;
	font-size: 90%;
}

.s2bottom2{
	height: 50%;
	position: relative;
	top: 28.5%;
}

.s2bottom2 h3{
	position: relative;
	top: 23%;
	left: 10%;
	font-size: 130%;
	font-weight: bolder;
}

.s2bottom2 p{
	position: relative;
	top: 33%;
	left: 10%;
	font-size: 90%;
}

/* SECTION 3 */

/* STUDENT TUTOR SECTION */

body {
	font-size: 1.25rem;
	font-family: sans-serif;
	line-height: 150%;
  }
  
  div {
	height: 100%;
  }
  
  article {
	position: absolute;
	top: 165px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 325px 0px 0px 0px;
  }

.section3{
	position: absolute;
	background: #01274C;
	top: 170%;
}

.left-half {
	background: url(pictures/student.png);
	background-repeat: no-repeat;
    background-size: 100% auto;
	position: relative;
	display: inline-block; 
	width: 50vw;
	float: left;
}
  
.right-half {
	background: url(pictures/tutor.png);
	background-repeat: no-repeat;
    background-size: 100% auto;
	position: relative;
	display: inline-block;
	width: 50vw;
	float: right;
}

.left-half ul{
	/* background: #f6755e; */
	padding: 2% 0% 2% 33%;
	position: absolute;
	top: 10vh;
	font-size: 5vh;
}

.left-half li{
	/* background: #4ED37B; */
	padding: 9% 0 9% 0;
}

.headingstudent{
	/* background: #f6755e; */
	font-size: 10vh;
	font-weight: 800;
	margin: 0vh 10vw 5vh 0vw;
}

.right-half ul{
	/* background: #f6755e; */
	padding: 2% 0% 2% 33%;
	position: absolute;
	top: 12vh;
	font-size: 5vh;
}

.right-half li{
	/* background: #4ED37B; */
	padding: 10% 0 10% 0;
}




